# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
artifacts
*.local

# Unity generated state
unity/**/Library/
unity/**/Temp/
unity/**/Obj/
unity/**/Build/
unity/**/Builds/
unity/**/Logs/
unity/**/UserSettings/
unity/**/*.csproj
unity/**/*.sln
unity/**/*.pidb
unity/**/*.booproj
unity/**/*.svd
unity/**/*.user
unity/**/*.userprefs
unity/**/*.unityproj
unity/**/*.mdb
unity/**/*.opendb
unity/**/*.VC.db

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
